{% extends "base.html" %}
{% block title %}Industrial Chemicals | Mix Xylene {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chemical_detail.css') }}">

<section class="products-section">
    <div class="products-container">

        <!-- BIG CHEMICAL BOX -->
        <div class="chemical-box">

            <!-- Image + Heading -->
            <div class="chemical-header">
                <img src="{{ url_for('static', filename='image/mix_xylene.jpg') }}"
                     alt="Acetone"
                     class="chemical-image">

                <div class="chemical-header-text">
                    <h1 class="section-title">
                        Mix Xylene
                        <span class="chemical-code"></span>
                    </h1>

                    <p class="chemical-tagline">
                        Powerful multi-purpose solvent for superior thinning, cleaning, and coating performance.
                    </p>
                    <div class="download-section">
                        <a href="{{ url_for('static', filename='product_detail/specification_sheet_mix_xylene.pdf') }}"
                        class="download-btn"
                        download
                        target="_blank">
                            <i class="fas fa-file-pdf"></i>
                            <span>Download Datasheet</span>
                        </a>

                        <p class="file-info">PDF • Updated 2026</p>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <p class="chemical-description">
            Mix Xylene (Mixed Xylenes) is a versatile aromatic hydrocarbon solvent widely used in industrial applications. It is a blend of different isomers of Xylene and offers excellent solvency, fast evaporation, and strong compatibility with various chemicals and resins.
            </p>


            <!-- Advantages -->
            <h2 class="section-subheading">Advantages</h2>
            <ul class="chemical-list">
                <li>Excellent Solvent Power</li>
                <li>Fast Drying Properties (Fast Evaporation)</li>
                <li>High Compatibility with Paints & Coatings</li>
                <li>Effective Cleaning & Degreasing Agent</li>
                <li>Stable Chemical Properties</li>
                <li>Cost-Effective Industrial Solvent</li>
                <li>Good Resin Solubility</li>
                <li>Enhances Coating Performance</li>
            </ul>

            <!-- Applications -->
            <h2 class="section-subheading">Applications</h2>
            <ul class="chemical-list">
                <li>Paints, Coatings & Thinners</li>
                <li>Printing Inks & Adhesives</li>
                <li>Rubber & Leather Processings</li>
                <li>Chemical Manufacturing</li>
                <li>Cleaning & Degreasing Applications</li>
                <li>Agrochemical Formulations</li>
                <li>Petrochemical Industries</li>
            </ul>

            <!-- Performance -->
            <h2 class="section-subheading">Performace Highlights</h2>
            <ul class="chemical-list">
                <li>Clear & Bright Appearance </li>
                <li>High Purity (Min 98%) </li>
                <li>Consistent Distillation Range</li>
                <li>Strong Solvency Power</li>
                <li>Fast Evaporation Rate</li>
                <li>Low Water Content</li>
                <li>Reliable Industrial Performance</li>
            </ul>

            <!-- Back -->
            <a href="{{ url_for('chemical_list') }}" class="product-btn">
                ← Back to Industrial Chemicals
            </a>

        </div>

    </div>
</section>
{% endblock %}
